--extra-index-url https://testpypi.python.org/pypi

# pycsw
pycsw==2.1-dev
geolinks==0.2.0
lxml==3.6.2
OWSLib==0.13.0
pyproj==1.9.5.1
Shapely==1.5.17
six==1.10.0
xmltodict==0.10.2
SQLAlchemy==1.1.2

# django
django==1.10.2
psycopg2==2.6.1

# registry
elasticsearch==1.9.0
MapProxy==1.10.0a0.dev20160928
