--extra-index-url https://testpypi.python.org/pypi

# pycsw
pycsw==2.1.dev20161019
SQLAlchemy==1.1.2

# django
django==1.10.2

# registry
rawes==0.5.5
MapProxy==1.10.0a0.dev20160928

# Search API
djangorestframework==3.3.3
isodate==0.5.4